 <div id="details" data-role="page" class="details-page">
    <div data-role="header" data-position="fixed"> 
     <%= link_to 'Back', root_path, 'data-icon' => 'back', 'data-ajax' => false %>	
      <h1> Settings</h1> 
    </div> 
    
   <div data-role="content" data-theme="a">
    Settings go here
   </div>
</div>