 <div id="details" data-role="page" class="details-page" data-add-back-btn="true" data-back-btn-txt='Back' data-back-btn-theme='e'>
    <div data-role="header" data-position="fixed"> 
      <h1> Settings</h1> 
    </div> 
    
   <div data-role="content" data-theme="a">
    Settings go here
   </div>
</div>