<div data-role="page" id="about" data-theme="b" >
  <div data-role="header" data-position="fixed"> 
    <%= link_to 'MobileMap', root_path, 'data-icon' => 'back', 'data-ajax' => false %>
    <h1> About MobileMap </h1>
  </div>  
  <div data-role="content" id="map_content" data-theme="a">
    A test application for JQuery Mobile riding on Rails. 
  </div>
</div>
