<div id="details" data-role="page" class="details-page">
  <div data-role="header" data-position="fixed"> 
    <%= link_to "About", about_path, {'data-role' => "button", 'data-icon' => "info", "rel" => "external", "data-rel" => "dialog", "data-transition" => "pop"} %>  
    <h1> MobileMap</h1> 
    <%= link_to "Settings", settings_path, {'data-role' => "button", 'data-icon' => "gear", "rel" => "external"} %>  
  </div> 
  
  <div data-role="content" id="map_content" data-theme="a">
    
    <div id="map_canvas" > 
      
      <script type="text/javascript">
	/*
         
        */
        // Initialize the map when the jQuery Mobile pageshow event is triggered 
        $('.details-page').on("pageshow", function() {
          if (map == null || user_coordinates == null) {
            // geolocation_success_add_markers will put the markers on the page
	    //navigator.geolocation.getCurrentPosition(geolocation_success_add_markers, geolocation_error, geolocation_options);
	    find_position();
          }
        }); 

      </script>
    </div>
o    
  </div>


  <div data-role="footer" class="ui-bar" data-position="fixed"> 
    <div data-role="navbar">
      <div class="center-wrapper">
	<ul> 
	  <li>&nbsp</li>
	  <li>&nbsp</li>
	    <li>
	      <%= link_to "Add", new_event_path, {'data-role' => "button", 'data-icon' => "plus", "rel" => "external", "data-rel" => "dialog", "data-transition" => "pop"} %> 
	    </li>
	  <li>
	    <div  data-role="button" >
	       <%= link_to "Locate", '#', {'data-role' => "button", 'data-icon' => "plus", 'onclick'=>"find_position()"} %>
	    </div>
	  </li>
	  <li><button onclick="find_position()" data-icon="plus" data-iconpos="top">Locate</button></li>
	</ul>
      </div>
    </div>
  </div> 

</div> 

