  <div id="details" data-role="page" class="details-page">
    <div data-role="header" data-position="fixed"> 
    <a href="#s" data-role="button">About</a>
      <h1> MobileMap</h1> 
      <%= link_to "Settings", settings_path, {'data-role' => "button", 'data-icon' => "gear"} %>  
    </div> 
    
   <div data-role="content" id="map_content" data-theme="a">
    
        <div id="map_canvas" > 
    
         <script type="text/javascript">
 
          function initialize() {
                setupMap(39.3, -76.616, 11, true);
                var eventLatlng = new google.maps.LatLng(39.3, -76.616);
                var marker = createEventMarker(eventLatlng);
                marker.setAnimation(google.maps.Animation.DROP);
                $('#map_canvas').gmap({'center': marker});

            }

            // Initialize the map when the jQuery Mobile pageshow event is triggered 
            $('.details-page').on("pageshow", function() {
                if (map == null) {
                    initialize();
                }
            }); 
         </script>
       </div>
    
   </div>


    <div data-role="footer" class="ui-bar" data-position="fixed"> 
      <div data-role="navbar">
	<div class="center-wrapper">
	  <ul> 
	    <li>Con</li>
	    <li>Seen</li>
	    <li><a href="#" data-role="button" data-icon="mobilemap-squeak" data-iconpos="top"> Squeak! </a> </li>
	    <li>Track</li>
	    <li>Locate</li>
	  </ul>
        </div>
      </div>
    </div> 
  </div> 
</div> 


   <div data-role="page" id="s" data-theme="a" class="details-page" data-add-back-btn="true" data-back-btn-txt='Back' data-back-btn-theme='e'>
      <div data-role="header" data-position="fixed"> 
       <h1> S </h1>
      </div>
   </div>
