<div id="details" data-role="page" class="details-page">
  <div data-role="header" data-position="fixed"> 
    <%= link_to "About", about_path, {'data-role' => "button", 'data-icon' => "info", "rel" => "external", "data-rel" => "dialog", "data-transition" => "pop"} %>  
    <h1> MobileMap</h1> 
    <%= link_to "Settings", settings_path, {'data-role' => "button", 'data-icon' => "gear", "rel" => "external"} %>  
  </div> 
  
  <div data-role="content" id="map_content" data-theme="a">
    
    <div id="map_canvas" > 
      
      <script type="text/javascript">
	
        // Initialize the map when the jQuery Mobile pageshow event is triggered 
        $('.details-page').on("pageshow", function() {
        if (map == null || user_coordinates == null) {
        initialize();
        }
        }); 
       // track_position();
      </script>
    </div>
o    
  </div>


  <div data-role="footer" class="ui-bar" data-position="fixed"> 
    <div data-role="navbar">
      <div class="center-wrapper">
	<ul> 
	  <li>&nbsp</li>
	  <li>&nbsp</li>
	  <li><a href="#" data-role="button" data-icon="plus" data-iconpos="top"> Add </a> &nbsp </li>
	  <li>&nbsp</li>
	  <li>&nbsp</li>
	</ul>
      </div>
    </div>
  </div> 

</div> 

